
/*
    import css styles
*/
@import url(css.ui.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*
    custom styles
*/
body {
    background-color: #f4f4f4;
         font-family: Segoe UI, sans-serif;
}

/*
    responsive menu style
*/
.nav .click {
     cursor: pointer;
     margin: 25px 10px 10px;
      float: right;
      color: white;
}

.nav .click .bars {
    font-size: 14px;
      padding: 5px 6px;
}

.nav .click .bars:hover {
    border-radius: 30px;
       background: #202021;
}

.nav .responsive { display: none; }
.nav .expand { display: block !important; }

.sidebar-title {
    background-color: #353637;
           font-size: 1.5em;
	     padding: 15px 20px 0 25px;
	      height: 69px;
	       color: white;
}

/*
    menu
*/
ul.menu {
    background-color: white;
          list-style: none;
	      margin: 0;
}

ul.menu li {
    line-height: 38px;
         margin: 0;
	  color: #353637;
}

ul.menu li.title {
    padding: 0 15px 0 25px;
}

ul.menu li.title.first {
    padding-top: 25px;
}

ul.menu li .menu-icon {
    margin-right: 10px;
       font-size: 12px;
        position: relative;
	top: -2px;
}

ul.menu li a {
    text-decoration: none;
       padding-left: 25px;
            display: block;
	      color: #858585;
}

ul.menu li a:hover {
    background-color: #e4e4e4;
               color: #353637;
}

ul.menu li a.current {
    background-color: #f4f4f4;
               color: #2b69c6;
}

@media only screen and (min-width: 768px) {

    .nav .click { visibility: hidden; }
    .nav .responsive { display: block; }

    .sidebar {
	background-color: white;
	        position: absolute;
		  bottom: 0;
                   width: 230px;
                     top: 0;
    }

    .content {
	margin-left: 230px;
    }

}
